{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <h1>เกี่ยวกับ Deep Matters LMS</h1>
        <p>เนื้อหา</p>
        <h2>รายละเอียดบทเรียน</h2>
        <table class="about">
            <tr>
                <td class="col1">Module 1</td>
                <td class="col2">
                    <p class="blue-em">Module name</p>
                    <p class="gray-normal">Test</p>
                    <p class="gray-normal">Author info</p>
                </td>
            </tr>
            <tr>
                <td class="col1">Module 1</td>
                <td class="col2">
                    <p class="blue-em">Module name</p>
                    <p class="gray-normal">Test</p>
                    <p class="gray-normal">Author info</p>
                </td>
            </tr>
        </table>
    </div>
</main>
{% endblock %}