{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <h1>{{ course.name }}</h1>
    <div class="main-flex-wrapper">
        <div class="main-flex-content">
            <p>โมดูลที่ {{ module.module_rank }}</p>
            <h2>{{ module.name }}</h2>
            {% if module.vdo_url %}
                <div class="iframe-container">
                    <iframe class="iframe-item" src="{{ module.vdo_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endif %}
            {{ module.description|markdown }}
            {% if module.file_url %}
                <p>ไฟล์เอกสารประกอบ: <a href="{{ module.file_url }}">ดาวน์โหลด</a></p>
            {% endif %}
            <p>เกณฑ์การผ่านโมดูล: ต้องทำแบบทดสอบให้ผ่าน {{ module.pass_condition*100 }}%</p>
            <hr>
            <div class="spacer-big"></div>
            {% if to_test %}
                <p class="align-right continue"><a href="/learn/{{ slug }}/{{ current_module }}/test">ไปทำแบบทดสอบ ></a></p>
            {% endif %}
            {% if to_next_module %}
                <p class="align-right continue"><a href="/learn/{{ slug }}/{{ next_module }}">ไปโมดูลถัดไป ></a></p>
            {% endif %}
            <div class="spacer-big"></div>
        </div>
        <div class="main-flex-nav">
            <h3>โมดูลของคอร์สนี้</h3>
            {% for mod in module_list %}
                <p>
                    {% if mod.name == module.name %}
                        <span class="current"></span>
                    {% endif %}
                    <a href="/learn/{{ course.slug }}/{{ mod.module_rank }}">{{ mod.name }}</a>
                    {% if mod.id in passed_mod_list %}
                        <span class="tag">ผ่านแล้ว</span>
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}