{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <div class="login-wrapper">
        <h1>เปลี่ยนรหัสผ่าน</h1>
        <form method="POST" action="/password-reset-result">
            {{ form.hidden_tag() }}
            <div class="input-wrapper">
                {{ form.password_reset_id.label }}
                {{ form.password_reset_id(class_="text-gray", size=23, value=password_reset_id) }}
                <hr><br>
                {{ form.password_new.label }}
                {{ form.password_new(size=23, placeholder="รหัสผ่านใหม่", autofocus=true) }}<br>
                {{ form.password_new_check(size=23, placeholder="ยินยันรหัสผ่านใหม่") }}<br>
            </div>
            <div class="button-wrapper">
                {{ form.submit(class_="button") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}